// service/manual/smlp

// ======================================
// 下層 - LP１,2
// ======================================



// カラーや余白
$lp-beige: #F8F5F2;
$lp-white:#fff;
$lp-red:#BC0101;
$lp-orange:#E86B65;;
$lp-txtred:#A20000;
$lp-txtorange:#E86B65;
$lp-txtbeige:#E3D7CB;
$lp-test:rgb(148, 215, 148);
$lp-heightbase:52px;
$lp-heightbase2:80px;
$lp-titlelinemore:30px;

// フォントサイズ
$lp-h2:2.5rem; //40px
$lp-h2big:3.0rem; //48px
$lp-h3:1.5rem; //25px
$lp-bold:600;
$lp-semibold:500;
$lp-maintxt:1.09rem; //18px
$lp-p23:23px;
$lp-p24:24px;
$lp-p20:20px;
$lp-p30:30px;
$lp-p55:55px;
$lp-p18:18px;
$lp-p15:15px;
$lp-p36:36px;

// clamp
$clamp-15-2-20:clamp(15px, 2vw, 20px);
$clamp-18-2-20:clamp(18px, 2vw, 20px);
$clamp-20-2-24:clamp(20px, 2vw, 24px);

.img_mw100 {
    max-width: 100%;
}

.p23 {
    font-size: $lp-p23;
    margin-bottom: 0px;
}
.p55 {
    font-size:$lp-p55;
    margin-bottom: 0px;
}
.p24 {
    font-size: $lp-p24;
}
.p20 {
    font-size:$lp-p20;
}
.p18 {
    font-size:$lp-p18;
}
.p30 {
    font-size:$lp-p30;
}
.p36 {
    font-size:$lp-p36;
}
.p-icon--diared {
    padding-top: 15px;
    padding-right:6px;
    padding-bottom: 10px;
}
.mt--15 {
    margin-top:-15px;
}

main {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400; // デフォルトのフォントウェイト
    -webkit-font-smoothing: antialiased; // フォントのレンダリングを滑らかに
    -moz-osx-font-smoothing: grayscale;  // Firefox用のフォントスムージング
}

.ai-center {
    align-items: center;
}
.ta-center {
    text-align: center;
}
.flex-row--aicenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row--aiend {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.flex-col--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border-accent {
    position: relative;
    z-index: 1;
    
    &::after {
        content: "";
        position: absolute;
        bottom: 7px;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: $lp-orange;
        z-index: -1;
        opacity: 0.8;
    }
}

// 設定
.testpage {
    color: red;
    .text {
        color: yellow;
    }
}
// section
.l-smlp {
    
    section {
        padding-left: 20px;
        padding-right:20px;
    }
    .section100 {
        padding-left:0px!important;
        padding-right:0px!important;


    }
    ul, li {
        text-decoration: none;
        list-style:none;
        margin-bottom: 0px!important;
        padding: 0px!important;
    }
    h2 {
        font-size:$lp-h2;
        margin-bottom:0px!important;
        font-weight:$lp-bold;
    }
    h3 {
        font-size:$lp-h3;
        margin-bottom:0px!important;
        font-weight:$lp-semibold;
    }


    // hero
    .l-featurewrapper {
        display: flex;
        flex-direction: row;
        gap:37px;
    }

    .p-maintxt {
        font-size:$lp-maintxt;
        padding-left: 30px;
        box-sizing: border-box;
    }


    .l-listwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 78.5px;
        grid-gap: 57px;
        margin-top: 78.5px;
    }
    .l-listcenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 460px;
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap:0.4rem;
            width: 100%;
            padding: 0;
        }
    }
    .p-h3--ask {
        padding-top: 32px;
        padding-bottom:17px;
    }
    .p-h3--case {
        padding-bottom:17px;
        padding-bottom: 0px!important;
        padding-left: 18px;
        font-size: $clamp-20-2-24!important;
    }
    .p-h2--solution {
        padding-top: 23px;
        padding-bottom: 30px;
    }
    .p-h2--plus {
        padding-left:19px;
        padding-right: 19px;
    }
    .p-iconcheck {
        position: relative;
    }
    .p-iconcheck:before {
        position: absolute;
        content:"";
        background-image: url(../../../images/service/manual/lp/icon_check.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 25px;
        height: 21px;
        left: -30px;
        top: 3px;
    }
    .line-title:after {
        content: "";
        display: block;
        width: calc(100% + $lp-titlelinemore * 2);
        height: 4px;
        background-color:$lp-txtred;
        margin-top: 26px;
        margin-left:-30px;
        

    }
    .big-title {
        font-size:$lp-h2big;
        line-height:4.2rem;
        text-align: center;

    }
    margin : 0 auto;
    width:100%;
    .l-section {
        padding-left:1rem;
        padding-right:1rem;
        margin: 0 auto;
        &--tight {
            max-width:980px;
            margin:0 auto;
            display: flex;
            justify-content: center;
        }
        &--wide {
            max-width:1160px;
            margin:0 auto;
            display: flex;
            justify-content: center;
        }
        
        
    }
    .lp-beige {
        background-color:$lp-beige;
    }
    .lp-white {
        background-color:$lp-white;
    }
    .lp-test {
        background-color:$lp-test;
    }

    // .img-hero-center {
    //     max-width: 100%!important;
    //     aspect-ratio: 438 / 212;
    //     max-height: 212px;
    // }
    .l-hero {
        height:575px;
        background-image: url(../../../images/service/manual/lp/img_hero_bg01.png);
        background-repeat: no-repeat;
        object-fit: cover;
        left: 0;
        bottom: 0;
        position: relative;
        &-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &--center {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            padding-top: 71.5px;
        }
        .p-hero-cap {
            padding-top:23px;
            padding-bottom:30px;
            color: $lp-white;
            font-weight: 500;
            margin-bottom: 0px!important;
            letter-spacing:0.1rem;
            font-size:20px;
        }
        .p-cta-btn01 {
            background-color: $lp-red;
            width: 385px;
            height: 125px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 37.2px;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(0, 50%);
            p {
                font-size:19px;
                font-weight:700;
                color: $lp-white;
                margin-bottom: 0px;
                text-align: center;
            }
            span {
                font-size:29px;
                font-weight:700;
                color: $lp-white;
            }
        }
    }
    // お悩み
    .l-ask {
        height:1187px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-bottom:56px;
    }
    // 解決
    .l-solution {
        height:3143px;
        flex-direction: column;
        align-items: center;
    }
    .line-title-solution--itemtitle {
        padding-bottom:28px;
        border-bottom: 4px solid $lp-red;
    }
    
    // 事例
    .l-example {
        height:1187px;
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        padding-bottom:56px;
        .line-title {
            padding-bottom: 82px;
        }
        .title-introduction {
            font-size: $lp-p20;
            line-height:1.75em;
            text-align: center;
            margin-bottom: 28px;
        }
        .l-listwrapper--example {
            padding-top: 0px;
            padding-bottom: lp-heightbase;
            width: 100%;
        }
        .tag-company {
            color: $lp-white;
            font-size: $lp-p20;
            background-color:$lp-txtorange;
            margin-bottom: 0px;
            padding: 3.5px;
            width: 98px;
            text-align: center;
            font-weight: 500;
        }
        
        
            
    }

    // 事例2テスト
    .l-case {
        height:auto;
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        padding-bottom:56px;
        #l-case-test {
            margin-top: $lp-heightbase;
            .container {
                margin-left: 0!important;
                margin-right: 0!important;
            }
            .row {
                margin-top: 0px!important;
                margin-right: 0px!important;
                margin-left: 0px!important;
                padding-right: 0px!important;
                padding-left: 0px!important;
                max-width: 100%!important;
            }
            .col-md-3 {
                padding: 0;
                margin-top: auto;
                
            }
            .l-wantleft--one {
                width:100%;
                background-color:rgb(168, 127, 127);
                margin-bottom: 50px;
             }
             .l-wantleft--two {
                background-color:$lp-orange;
                margin-top: 67px;
                // height: 143px;
                height: auto;
                width: 90%;
                margin-left: 10%;
                align-content: center;
                position: relative;
             }
            
        }
        




        .line-title {
            padding-bottom: 82px;
        }
        .title-introduction {
            font-size: $lp-p20;
            line-height:1.75em;
            text-align: center;
            margin-bottom: 28px;
        }
        
        
        .item-want {
            max-width: 86%;
            background-color:$lp-beige;
            // height: 152px;
            height: auto;
            padding: 18px 25px;
            border-radius:20px;
            margin-left: 17px;
            position: relative;
        }
        .tag-company {
            color: $lp-white;
            // font-size: $lp-p20;
            font-size: $clamp-15-2-20;
            background-color:$lp-txtorange;
            margin-bottom: 0px;
            padding: 3.5px;
            width: 98px;
            text-align: center;
            font-weight: 500;
        }
        .line-title-case--itemtitle {
            border-bottom: 4px solid $lp-red;
            display: flex;
            flex-direction: row;
            align-items: center; 
            padding-bottom: 17px;
        }
        .p-maintxt--case {
            font-size:$lp-p15;
            line-height: 21px;
            margin-top: 10px;
            margin-bottom: 0px!important;
            &-solution {
                line-height: 26px;
                padding: 40px 24px 16px 24px;
                color: $lp-white;
                font-size: $clamp-18-2-20;
                text-align: start;
                font-weight: 500;
                margin-bottom: 0px!important;
               align-content: center;
            }
        }
        .img-ballon {
            position: absolute;
            bottom: -42px;
            left: -17px;
        }
        .img-solution {
            position: absolute;
            top: -46px;
            left: 6%;
            width: 80px;
            height: auto;
        }
        .img-show {
            position: absolute;
            bottom: 16px;
            right: -38px;
        }
        .img-show-sp {
            position: absolute;
            bottom: -38px;
            right: 45%;
        }
        
        // mdサイズ以上
        @media (min-width: 768px) {
            .img-solution {
                position: absolute;
                top: -20px;
                left: -70px;
                width: 113px;
                height: auto;
            }
            .l-wantleft--two {
                background-color:$lp-orange;
                margin-top: 40px!important;
                height: auto;
                width: 80%!important;
                margin-left: 20%!important;
                align-content: center;
                position: relative;
             }
            .p-maintxt--case-solution {
                line-height: 29px!important;
                padding: 24px 64px!important;


            }
        }
    }
    


    // 事例２
    // .l-case {
    //     height:auto;
    //     width: 100%;
    //     box-sizing: border-box;
    //     flex-direction: column;
    //     align-items: center;
    //     padding-bottom:56px;
    //     #l-case-test {
    //         .container {
    //             margin-left: 0!important;
    //             margin-right: 0!important;
    //         }
    //         .row {
    //             margin-top: 0px!important;
    //             margin-right: 0px!important;
    //             margin-left: 0px!important;
    //             padding-right: 0px!important;
    //             padding-left: 0px!important;
    //             max-width: 100%!important;
    //         }
    //         .col-md-9 {
                
    //         }
    //         .col-md-3 {
    //             padding: 0;
    //             margin-top: auto;
                
    //         }
            
    //     }
        




    //     .line-title {
    //         padding-bottom: 82px;
    //     }
    //     .title-introduction {
    //         font-size: $lp-p20;
    //         line-height:1.75em;
    //         text-align: center;
    //         margin-bottom: 28px;
    //     }
        
    //     .l-listwrapper--want {
    //         margin-top:$lp-heightbase;
    //         margin-bottom:$lp-heightbase;
    //         display:grid;
    //         grid-template-columns:1fr 0.38fr;
    //         width: 100%;
    //         .l-wantleft--one {
    //            width:100%;
    //            background-color:rgb(168, 127, 127);
    //            margin-bottom: 50px;
    //         }
    //         .l-wantleft--two {
    //            background-color:$lp-orange;
    //            margin-top: 40px;
               // height: 143px;
        //        height: auto;
        //        width: 80%;
        //        margin-left: 20%;
        //        align-content: center;
        //        position: relative;
        //     }
        // }
        // .item-want {
        //     max-width: 86%;
        //     background-color:$lp-beige;
            // height: 152px;
        //     height: auto;
        //     padding: 18px 25px;
        //     border-radius:20px;
        //     margin-left: 17px;
        //     position: relative;
        // }
        // .tag-company {
        //     color: $lp-white;
            // font-size: $lp-p20;
    //         font-size: $clamp-15-2-20;
    //         background-color:$lp-txtorange;
    //         margin-bottom: 0px;
    //         padding: 3.5px;
    //         width: 98px;
    //         text-align: center;
    //         font-weight: 500;
    //     }
    //     .line-title-case--itemtitle {
    //         border-bottom: 4px solid $lp-red;
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center; 
    //         padding-bottom: 17px;
    //     }
    //     .p-maintxt--case {
    //         font-size:$lp-p15;
    //         line-height: 21px;
    //         margin-top: 10px;
    //         margin-bottom: 0px!important;
    //         &-solution {
    //             color: $lp-white;
    //             font-size: $lp-p20;
    //             line-height: 29px;
    //             padding: 24px 64px;
    //             text-align: start;
    //             font-weight: 500;
    //             margin-bottom: 0px!important;
    //            align-content: center;
    //         }
    //     }
    //     .img-ballon {
    //         position: absolute;
    //         bottom: -42px;
    //         left: -17px;
    //     }
    //     .img-solution {
    //         position: absolute;
    //         top: -20px;
    //         left: -70px;
    //     }
    //     .img-show {
    //         position: absolute;
    //         bottom: 16px;
    //         right: -38px;
    //     }
    // }


    // CTA
    .l-cta {
        height: auto!important;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: $lp-heightbase;
        padding-bottom: $lp-heightbase;
        .cta-inner {
            height: 408px;
            width: 100%;
            border-top: 4px solid $lp-red;
            border-bottom: 4px solid $lp-red;
            
            .dialine-txt {
                margin-bottom:0px!important;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 25px;
                padding-bottom: 25px;
            }
            .cta-txt {
                color: $lp-white;
                margin-bottom: 0px!important;
                display: flex;
                align-items: center;
                font-weight: 500;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }

    // プラスお助け
    .l-plus {
        // height:1334px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom:30px;
        padding-top:30px;
        margin-top: 30px;
    }

    // フロー
    .l-flow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // height:847px;
        padding-top: calc($lp-heightbase * 1.5);
        padding-bottom: calc($lp-heightbase * 1.5);
    }

    // faq
    .l-faq {
        // height:2595px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .accordion {
            --bs-accordion-border-width: 0;
            width:100%;
            .accordion-button {
                &::after {
                    background-image: url(../../../images/service/manual/lp/icon_open_red.png);
                    width: 20px; 
                    height: 20px; 
                }
                &:not(.collapsed)::after {
                    background-image: url(../../../images/service/manual/lp/icon_close_red.png); 
                    transform: rotate(180deg);
                }
                background-color:$lp-beige;
            }
            button {
                font-size: $lp-p23;
                font-weight: 500;
                color: #000!important;
                line-height: 1.9rem!important;
                padding-top: 35px;
            }
            strong {
                color: $lp-red;
                font-size: 23px;
                line-height:30px!important;
                font-weight: 500!important;   
            }
            strong:before {
                content:"A. ";
                padding-right: 8px;
            }  
            .accordion-body {
                font-size: 18px;
                line-height: 26px;
                font-weight: 500!important;
                padding-left:95px;
                padding-top: 0px;   
            }
            p {
                margin-top: 8px;
                padding-left: 35px;
                padding-bottom: 0!important;
                line-height: 1.5;
            }
            .accordion-item {
                background-color: $lp-beige;
                border-bottom: 0; // 通常ボーダー
                background-image: linear-gradient(to right, $lp-txtred 10px, transparent 5px);
                background-size: 15px 1px; // 全長（線10px+間隔5px=15px）
                background-position: bottom;
                background-repeat: repeat-x;
                padding-bottom: 1px; 
                &:last-child {
                    background-image: none; 
                }
            }
        }
        .accordion-button:not(.collapsed) { 
            background-color:$lp-beige;
            box-shadow: none!important;
        }
    }

    // コンタクト
    .l-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .submit {
        width: 323px;
        height: 66px;
        background-color:$lp-red;
        color: $lp-white;
        border: none;
        font-size: $lp-p23;
        font-weight: 700;
    }
    .must {
       border: 2px solid $lp-red;
       width: 77px;
       height: 42px;
       color: $lp-red;
       text-align: center;
       align-content: center;
       font-size: 18px;
    }
    .label {
        font-size: 18px;
    }


    .l-example {
        height:1814px;
    }

    



    .l-contact {
        height:1207px;
    }
    .l-space-y {
        &--high4 {
            height:calc($lp-heightbase * 4);
        }
        &--high1 {
            height:calc($lp-heightbase * 1);
        }
        &--high2 {
            height:calc($lp-heightbase * 2);
        }
        &--high3 {
            height:calc($lp-heightbase * 3);
        }
        &--highmore {
            height:calc($lp-heightbase2 * 1);
        }
    }
}

    .one {
        width: 100%;
        height: 50px;
        background-color: #a9a7a7;
    }
    .two {
        background-color: #825e5e;
    }
    .three {
        background-color: #d8c46d;
    }
    .four{
        background-color: #a9a7a7;
    }
    .five {
        background-color: #b784a4;
    }
    .six {
        background-color: #85b7ab;
    }
    .seven {
        background-color: #ada4c5;
    }
    .eight {
        background-color: #b784a4;
    }
    .nine {
        background-color: #85b7ab;
    }

    .l-listwrapper {
        &--solution {
            display:flex;
            flex-direction :column;
            padding-top: 30px;
            padding-bottom: 30px;
            gap:162px;
            .l-list-item {
                padding-top: 30px!important;
                padding-bottom: 30px!important;
            }
        }
    }
    .p-cta-btn02 {
        max-width: 618px;
        width: 100%;
        min-height: 85px;
        background-color: $lp-test;
        justify-content: space-evenly;
      
        
    }
    
