// service/manual/smlp

// ======================================
// 下層 - LP１,2
// ======================================

// カラーや余白
$lp-beige: #F8F5F2;
$lp-white:#fff;
$lp-red:#BC0101;
$lp-txtred:#A20000;
$lp-txtorange:#E86B65;
$lp-txtbeige:#E3D7CB;
$lp-test:rgb(148, 215, 148);
$lp-heightbase:52px;
$lp-heightbase2:80px;
$lp-titlelinemore:30px;

// フォントサイズ
$lp-h2:2.5rem; //40px
$lp-h3:1.5rem; //25px
$lp-bold:600;
$lp-thin:300;
$lp-maintxt:1.09rem; //18px



// 設定
.testpage {
    color: red;
    .text {
        color: yellow;
    }
}
// section
.l-smlp {
    section {
        padding-left: 20px;
        padding-right:20px;
    }
    ul, li {
        text-decoration: none;
        list-style:none;
        margin-bottom: 0px!important;
        padding-left: 10px;
    }
    h2 {
        font-size:$lp-h2;
        margin-bottom:0px!important;
        font-weight:$lp-bold;
    }
    h3 {
        font-size:$lp-h3;
        margin-bottom:0px!important;
        font-weight:$lp-thin;
    }
    .p-maintxt {
        font-size:$lp-maintxt;
    }
    .l-listwrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 78.5px;
        grid-gap: 57px;
    }
    .l-listcenter {
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap:0.4rem;
        }
    }
    .p-h3--ask {
        padding-top: 32px;
        padding-bottom:17px;
    }
    .p-iconcheck {
        position: relative;
    }
    .p-iconcheck:before {
        position: absolute;
        content:"";
        background-image: url(../../../images/service/manual/lp/icon_check.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 25px;
        height: 21px;
        left: -30px;
        top: 3px;

    }
    .line-title:after {
        content: "";
        display: block;
        width: calc(100% + $lp-titlelinemore * 2);
        height: 4px;
        background-color:$lp-txtred;
        margin-top: 10px;
        margin-left:-30px;
        

    }
    margin : 0 auto;
    width:100%;
    .l-section {
        padding-left:1rem;
        padding-right:1rem;
        margin: 0 auto;
        &--tight {
            max-width:980px;
            margin:0 auto;
            display: flex;
            justify-content: center;
        }
        &--wide {
            max-width:1160px;
            margin:0 auto;
            display: flex;
            justify-content: center;
        }
        
        
    }
    .lp-beige {
        background-color:$lp-beige;
    }
    .lp-white {
        background-color:$lp-white;
    }
    .lp-test {
        background-color:$lp-test;
    }

    .l-hero {
        height:575px;
    }
    // お悩み
    .l-ask {
        height:1187px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-bottom:56px;
    }
    .l-solution {
        height:3143px;
    }
    .l-cta {
        height:512px;
    }
    .l-example {
        height:1814px;
    }
    .l-plus {
        height:1334px;
    }
    .l-flow {
        height:847px;
    }
    .l-faq {
        height:2595px;
    }
    .l-contact {
        height:1207px;
    }
    .l-space-y {
        &--high4 {
            height:calc($lp-heightbase * 4);
        }
        &--high1 {
            height:calc($lp-heightbase * 1);
        }
        &--high2 {
            height:calc($lp-heightbase * 2);
        }
        &--high3 {
            height:calc($lp-heightbase * 3);
        }
        &--highmore {
            height:calc($lp-heightbase2 * 1);
        }
    }
}

    .one {
        width: 100%;
        height: 50px;
        background-color: #a9a7a7;
    }
    .two {
        background-color: #825e5e;
    }
    .three {
        background-color: #d8c46d;
    }
    .four{
        background-color: #a9a7a7;
    }
    .five {
        background-color: #b784a4;
    }
    .six {
        background-color: #85b7ab;
    }
    .seven {
        background-color: #ada4c5;
    }
    .eight {
        background-color: #b784a4;
    }
    .nine {
        background-color: #85b7ab;
    }